/*layout*/
body {background-color: #f1f4fb;}
#wrap {width: 100%;}
#header {width: 100%; height: 327px;
/*
    background-image: url(../img/header_bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;
*/
    background: url(../img/header_bg.jpg) repeat-x center top;
}
#contents {}
#footer {border-top: 1px solid #ccc; background-color: #edf0f5; margin-top: 30px;}

/*container*/
.container {width: 990px; margin: 0 auto; position: relative;}

/*contents layout*/
#cont-nav {background: url(../img/nav_bg.png) repeat-x; display: none;}
#cont-tit {height: 60px; background-color: white;}
#cont-ban {background-color: #dceff7;}
#cont-cont {}

/* quick */
.quick {text-align: right;}
.quick a {color: white; padding: 5px 0 0 10px; display: inline-block;}
.quick a:hover {color: #ccc;}

/* title inline */
/*
.title {text-align: center;}
.title p {background: #2698cb; font-size: 28px; display: inline-block; color: white; margin-top: 100px; padding: 5px 15px; text-transform: uppercase;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; color: white; text-transform: capitalize; padding: 5px 15px; display: inline-block;}
*/

/* title position */
.title h1 {position: absolute; left: 400px; top: 170px;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; color: white; text-transform: capitalize; padding: 5px 15px; display: block;}
.title p {background: #2698cb; font-size: 34px; color: white; padding: 5px 15px; text-transform: uppercase; 
    position: absolute; left: 190px; top: 110px; }

/* icon */
.icon {position: absolute; left: 365px; top: 220px;}
.icon ul {overflow: hidden;}
.icon li {float: left;}
.icon a {width: 60px; height: 60px; display: block; margin: 0 3px; background-image: url(../img/icon.png);}
.icon li.icon-tit1 a:hover {background-position: -60px 0;}
.icon li.icon-tit2 a {background-position: 0 -60px;}
.icon li.icon-tit2 a:hover {background-position: -60px -60px;}
.icon li.icon-tit3 a {background-position: 0 -120px;}
.icon li.icon-tit3 a:hover {background-position: -60px -120px;}
.icon li.icon-tit4 a {background-position: 0 -180px;}
.icon li.icon-tit4 a:hover {background-position: -60px -180px;}

/* nav */
.nav {overflow: hidden; padding: 20px 0;}
.nav div {float: left; width: 40%;}
.nav div.last {width: 20%;}
.nav div h3 {font-size: 18px; color: #25a2d0;}
.nav div ul {overflow: hidden;}
.nav div ul li {width: 50%; float: left;}
.nav div.last ul li {width: 100%;}
.nav div ul li a {color: #333; padding: 3px;}
.nav div ul li a:hover {background-color: #1a96d0; color: white;}


/* tit */
.tit {}
.tit h2 {text-align: center; font-size: 39px; color: #2c94c4; letter-spacing: 2px; font-family: 'Nanum Brush Script', cursive; line-height: 60px;}
.tit .btn {position: absolute; right: 0; top: 0; display: block; width: 60px; height: 60px; background-color: #000; background: url(../img/icon.png) 0 -600px;}
.tit .btn:hover {background-position: -60px -600px;}
.tit .btn.on {background-position: 0 -660px;}
.tit .btn.on:hover {background-position: -60px -660px;}

/* ban */
/*
.ban .ban-prev {position: absolute; left: -40px; top: 60px; width: 43px; height: 43px; 
    background: url(../img/icon.png) -150px 0;}
.ban .ban-prev:hover {background-position: -193px 0;}
.ban .ban-next {position: absolute; right: -40px; top: 60px; width: 43px; height: 43px; 
    background: url(../img/icon.png) -150px -43px;}
.ban .ban-next:hover {background-position: -193px -43px;}
.ban {padding: 20px 0;}
.ban ul li a img {display: block; margin: 0 auto; border: 4px solid #dcdcdc;}
.ban ul li a img:hover {border-color: #98bcdc;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px; text-align: center;}
*/

/* ban slick */
.ban {position: relative;}
.ban .slick-prev {cursor: pointer; position: absolute; left: -70px; top: 70px; width: 43px; height: 43px; 
    background: url(../img/icon.png) -150px 0; text-indent: -9999px;}
.ban .slick-next {position: absolute; right: -70px; top: 70px; width: 43px; height: 43px; 
    background: url(../img/icon.png) -150px -43px; text-indent: -9999px;}
.ban .slick-prev:hover {background: url(../img/icon.png) -193px 0;}
.ban .slick-next:hover {background: url(../img/icon.png) -193px -43px;}
.ban img {border: 4px solid #dcdcdc;}
.ban img:hover {border-color: #98bcdc;}
.slick-slide {margin: 10px 15px;}
.slick-dots {position: absolute; bottom: 10px; display: block; width: 100%; text-align: center;}
.slick-dots li {position: relative; display: inline-block; width: 15px; height: 15px; margin: 5px;}
.slick-dots li button {cursor: pointer; display: block; font-size: 0; line-height: 0; width: 15px; height: 15px; background: #5dbfeb !important; border-radius: 50%;}
.slick-dots li.slick-active button {background: #2b91c8 !important;}

/* cont layout */
.cont {overflow: hidden; padding-top: 30px;}
.cont .box {width: 289px; height: 364px; float: left; margin: 0 30px 30px 0; padding-right: 30px; position: relative;}
.cont .box1 {border-right: 1px solid #c8c8c8;}
.cont .box2 {border-right: 1px solid #c8c8c8;}
.cont .box3 {margin-right: 0; padding-right: 0;}
.cont .box4 {border-right: 1px solid #c8c8c8;}
.cont .box5 {border-right: 1px solid #c8c8c8;}
.cont .box6 {margin-right: 0; padding-right: 0;}

.cont .ico-img {width: 60px; height: 60px; display: block; position: absolute; left: 0; top: 0; background: url(../img/icon.png); cursor: pointer;}
.cont .ico-tit {padding-left: 70px; font-size: 18px; color: #2c94c4;}
.cont .ico-desc {padding-left: 70px; padding-bottom: 16px; color: #878787; border-bottom: 1px solid #d0d0d0; margin-bottom: 15px;}

.cont .box1 .ico-img {background-position: 0 -240px;}
.cont .box2 .ico-img {background-position: 0 -300px;}
.cont .box3 .ico-img {background-position: 0 -360px;}
.cont .box4 .ico-img {background-position: 0 -420px;}
.cont .box5 .ico-img {background-position: 0 -480px;}
.cont .box6 .ico-img {background-position: 0 -540px;}
.cont .box1 .ico-img:hover {background-position: -60px -240px;}
.cont .box2 .ico-img:hover {background-position: -60px -300px;}
.cont .box3 .ico-img:hover {background-position: -60px -360px;}
.cont .box4 .ico-img:hover {background-position: -60px -420px;}
.cont .box5 .ico-img:hover {background-position: -60px -480px;}
.cont .box6 .ico-img:hover {background-position: -60px -540px;}

/* Notice */
.notice1 {position: relative;}
.notice1 h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice1 li {background: url(../img/dot.gif) 0 8px no-repeat; padding-left: 8px; 
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice1 .more {position: absolute; right: 0; top: 0; 
    background: url(../img/icon.png) -150px -90px no-repeat; width: 17px; height: 17px; display: block;}
.notice1 .more:hover {background-position: -167px -90px;}

/* Notice2 */
.notice2 {position: relative;}
.notice2 h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice2 li {overflow: hidden; background: url(../img/dot.gif) 0 8px no-repeat; padding-left: 8px;}
.notice2 li a {width: 60%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: left;}
.notice2 li .time {width: 30%; float: right; text-align: right;}
.notice2 .more {position: absolute; right: 0; top: 0; 
    background: url(../img/icon.png) -150px -90px no-repeat; width: 17px; height: 17px; display: block;}
.notice2 .more:hover {background-position: -167px -90px;}

/* Notice3 */

.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice3 li {position: relative; height: 52px; padding-left: 60px; font-size: 12px; padding-top: 8px;}
.notice3 li a img {position: absolute; left: 0; top: 0; border: 1px solid #390; height: 50px;}
.notice3 li a strong {display: block;}
.notice3 li a em {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice3 .more {position: absolute; right: 0; top: 0; 
    background: url(../img/icon.png) -150px -90px no-repeat; width: 17px; height: 17px; display: block;}

/* login-wrap */
#login-wrap {border: 1px solid #c8c8c8; height: 118px; margin-bottom: 15px; position: relative;}
#login-header {width: 257px; height: 25px; position: absolute; left: 15px; top: 10px;}
#login-header .login_lever {overflow: hidden;}
#login-header .login_lever li {float: left;}
#login-header .login_lever li a {border: 1px solid #ccc; display: inline-block; width: 16px; height: 16px; text-align: center; color: #888; font-size: 14px; background-color: #fff; font-weight: bold; line-height: 16px;}
#login-header .login_lever li:first-child a {background: #0093bd; color: #fff;}
#login-header .login_info {position: absolute; left: 65px; top: -5px;}
#login-header .login_info .ip {position: absolute; left: 115px; top: 5px; width: 80px;}
#login-header .login_info .ip span {font-weight: bold; color: #0093bd; text-decoration: underline; text-transform: uppercase;}

#login-contents {width: 257px; height: 50px; position: absolute; left: 15px; top: 37px;}
#login-contents .dt label {width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden; position: absolute; left: 0; top: 0;}
#login-contents .input_text {width: 170px; height: 16px; color: #444; border: 1px solid #bebebe; padding: 2px 2px 3px 4px; margin-bottom: 3px;}
#login-contents .keep label {font-size: 12px;}
#login-contents .keep {position: absolute; left: 183px; top: 2px; width: 84px;}
#login-contents .keep .input_check {vertical-align: -2px;}
#login-contents .keep .sumit {position: absolute; left: 0; top: 24px;}

#login-footer {position: absolute; left: 15px; top: 90px;}
#login-footer ul li {display: inline; font-size: 14px;}
#login-footer ul li:first-child {font-weight: bold;}
#login-footer ul li span {color: #ccc;}

/* ad */
.ad {position: relative;}
.ad h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.ad ul {overflow: hidden;}
.ad ul li {float: left; width: 33.3333%;}
.ad ul li a img {width: 90px; height: 90px;}
.ad .more {position: absolute; right: 0; top: 0; 
    background: url(../img/icon.png) -150px -90px no-repeat; width: 17px; height: 17px; display: block;}
.ad .more:hover {background-position: -167px -90px;}

/* notice4 */
.notice4 {position: relative; border: 1px solid #ccc;}
.notice4 h4 {color: red; font-size: 14px; font-weight: bold; margin-bottom: 3px; border-bottom: 1px solid #ccc; padding: 8px 10px;}
.notice4 em {color: blue;}
.notice4 ul {padding: 10px;}
.notice4 ul li {overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice4 ul li a {float: left; width: 65%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding: 1px;}
.notice4 ul li .time {float: right; width: 30%; text-align: right;}
.notice4 .more {position: absolute; right: 8px; top: 8px; display: block;}

/* Notice Hover */
.notice-hover {position: relative;}
.notice-hover h4 {font-size: 14px; color: #0093bd; font-weight: bold; margin-bottom: 3px;}
.notice-hover ul {overflow: hidden;}
.notice-hover li {float: left; width: 33.33333%; text-align: center;}
.notice-hover li a span {position: relative; display: block; width: 90px; height: 90px; margin: 0 auto; line-height: 90px;}
.notice-hover li a span img {width: 90px; height: 90px;}
.notice-hover li a span em {position: absolute; left: 0; top: 0; background-color: #000; color: #fff; width: 100%; height: 100%; visibility: hidden; opacity: .7;}
.notice-hover li a span:hover em {visibility: visible;}
.notice-hover li a strong {display: block; padding-top: 3px;}
.notice-hover .more {position: absolute; right: 0; top: 0; 
    background: url(../img/icon.png) -150px -90px no-repeat; width: 17px; height: 17px; display: block;}
.notice-hover .more:hover {background-position: -167px -90px;}

/* Notice Hover2 */
.notice-hover2 {position: relative;}
.notice-hover2 ul {overflow: hidden;}
.notice-hover2 li {float: left; width: 33.33333%; text-align: center;}
.notice-hover2 li a span {position: relative; display: block; width: 90px; height: 90px; margin: 0 auto;}
.notice-hover2 li a span img {width: 90px; height: 90px;}
.notice-hover2 li a span em {position: absolute; left: 0; bottom: 0; background-color: #000; color: #fff; width: 100%; visibility: hidden; opacity: .7;}
.notice-hover2 li a span:hover em {visibility: visible;}
.notice-hover2 li a strong {display: block; padding-top: 3px;}


/* 컨텐츠 요소 가리기 
    1. display: none; <-> display: block;               영역 X 애니메이션 X
    2. visibility: hidden; <-> visibility: visible;     영역 O 애니메이션 X
    3. opacity: 0; <-> opacity: 1;                      영역 O 애니메이션 O
    4. ir effect (width: 0; height: 0;)
*/


/* tap_menu */
.tap_menu {position: relative; border: 1px solid #ccc; height: 105px; padding: 8px;}
.tap_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;}
.tap_menu ul li {float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tap_menu ul li a {display: block; padding: 5px 10px;}
.tap_menu ul li ul {position: absolute; left: 10px; top: 50px; border: 0;}
.tap_menu ul li ul li {float: none; border: 0; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.tap_menu ul li ul li a {padding: 1px;}
.tap_menu ul li.active {background-color: #2c94c9;}
.tap_menu ul li.active a {color: white;}
.tap_menu ul li.active ul li a {color: #333;}

/* gallery */
.gallery {border: 1px solid #ccc; position: relative; height: 253px; overflow: hidden;}
.gallery h4 {font-size: 14px; color: #0093bd; font-weight: bold; padding: 8px 0 6px 11px; border-bottom: 1px solid #ccc;}

/* btn */
.gallery button {float: left; margin: 1px 2px; display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery_btn {position: absolute; right: 5px; top: 7px;}
.gallery_btn .gb_icon1 {background: url(../img/icon.png) -150px -120px;}
.gallery_btn .gb_icon1:hover {background: url(../img/icon.png) -173px -120px;}
.gallery_btn .gb_icon2 {background: url(../img/icon.png) -150px -143px;}
.gallery_btn .gb_icon2:hover {background: url(../img/icon.png) -173px -143px;}
.gallery_btn .gb_icon3 {background: url(../img/icon.png) -150px -166px;}
.gallery_btn .gb_icon3:hover {background: url(../img/icon.png) -173px -166px;}
.gallery_btn .gb_icon4 {background: url(../img/icon.png) -150px -189px;}
.gallery_btn .gb_icon4:hover {background: url(../img/icon.png) -173px -189px;}
.gallery .slick-slide {margin: 0;}
.gallery .slick-dots {position: absolute; bottom: 5px; display: block; width: 100%; text-align: center;}
.gallery .slick-dots li {position: relative; display: inline-block; width: 15px; height: 15px; margin: 5px;}
.gallery .slick-dots li button {display: block; font-size: 0; line-height: 0; width: 15px; height: 15px; background: #5dbfeb !important; border-radius: 50%;}
.gallery .slick-dots li.slick-active button {background: #2b91c8 !important;}

/* img */
.gallery_img img {display: block; width: 100%;}

/* footer */
.footer {text-align: center; padding: 30px 0;}
.footer ul li {display: inline; padding: 0 10px; border-left: 1px solid #c8c8c8;}
.footer ul li:first-child {border: none;}
.footer address {padding-top: 20px;}

/* popup */
#layer {display: none; position: fixed; left: 50px; top: 50px; width: 700px; z-index: 7000; border: 10px solid #dceff7; box-shadow: 3px 3px 10px rgba(0,0,0,.4);}
#layer .close {background-color: #0093bd; position: absolute; top: 20px; right: 20px; padding: 1px 6px; color: #fff;}
#layer .close:hover {text-decoration: underline;}
#layer img {width: 100%; display: block;}



